<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Healthene.entitlements
   Healthene

   Created by Alexandr Feshchenko on 19.02.2026.
   Copyright (c) 2026 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:app.healthene.com</string>
		<string>applinks:healthene.com</string>
		<string>applinks:development.healthene.app</string>
		<string>applinks:clinic-healthene.intelliceed.com</string>
		<string>applinks:clinic-dev-healthene.intelliceed.com</string>
		<string>applinks:clinic-staging-healthene.intelliceed.com</string>
	</array>
</dict>
</plist>
